.nextflow*
.nf-test
.nf-test.log

work
data
results/
.DS_Store
testing/
testing*
*.pyc
null/
containers/*.sif
containers/*.img*

output/

assets/test_data/vcf/*.final.*
assets/test_data/vep/*
assets/vep/*


*samplesheet.csv
data/
