/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                      = "${projectDir}/assets/test_data/samplesheet/test_dna_vcf.csv"
    input_dir                  = "${projectDir}" //TODO : can I put projectDir in my samplesheet, or in my code?

    gencode_annotations        = "${projectDir}/assets/test_data/annotations/gencode.v29.annotation.chr21.gtf"
    ensembl_annotations        = "${projectDir}/assets/test_data/annotations/biomart_grch38_ensembl_113_chr21.tsv"

}


profiles {
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
    }
}
